.custom-button {
  background: linear-gradient(90deg, #5a4dff, #6f47ff);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.custom-button:hover {
  color: white;
  transform: translateY(-2px);

  box-shadow: 0 10px 20px rgba(93, 79, 255, 0.15);
}

a.custom-button {
  text-decoration: none;
}
