.container-card {
  width: 100%;
  max-width: 100rem; /* 1000px */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.card-name {
  display: flex;
}

.MuiSvgIcon-root.active {
  fill: red;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  min-height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.name {
  font-size: 1rem;
  min-height: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card .image {
  width: 8.5rem;
  object-fit: cover;
}

.description {
  max-height: calc(2.5rem + 4px);
  overflow: hidden;
  margin: 0.438rem 2px 2px 2px;
  font-size: 0.688rem;
  color: #666;
  transition: all 0.3s ease;
  padding: 4px;
}

.description:hover {
  max-height: 200px;
  overflow: hidden;

  -webkit-line-clamp: unset;

  background-color: white;
  border-radius: 6px;
  padding: 4px 4px 0px 0px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  position: relative;
  z-index: 10;
}

.description ul {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

.description li {
  margin-bottom: 4px;
}

.loading-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

@media (max-width: 1024px) {
  .container-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 853px) {
  .container-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .container-card {
    grid-template-columns: 1fr;
    padding: 0.75rem;
  }

  .custom-button.AddCar span {
    display: none;
  }

  .custom-button.AddCar {
    padding: 0 0.6rem;
  }
}
