.custom-table {
  margin: 0.625rem;

  background-color: #ddd6ff;
  border-spacing: 0;
}
.custom-table th {
  border: 1px solid #2a48df;
  background-color: #b2a3fc;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
}

.custom-table td {
  border: 1px solid #2a48df;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
}

.custom-table th:first-child {
  border-radius: 0.3125rem 0 0 0;
}

.custom-table th:last-child {
  border-radius: 0 0.3125rem 0 0;
}

.custom-table tr:last-child td:first-child {
  border-radius: 0 0 0 0.3125rem;
}

.custom-table tr:last-child td:last-child {
  border-radius: 0 0 0 0.3125rem;
}
