.categorias-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  justify-content: space-between;
  background-color: #eaebf0;
  transition: background-color 0.3s;
}
