body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  /* height: 100vh; */
  font-family: "Inter", sans-serif;
  font-weight: 700; /* Bold */
  letter-spacing: -0.02em; /* Para dar o efeito de logo */
}

body.bg-home,
body.bg-about,
body.bg-login,
body.bg-register,
body.bg-default {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bg-home,
body.bg-about {
  background-image: url("./assets/background.png");
}

body.bg-login,
body.bg-register {
  background-image: url("./assets/background_login.png");
}

body.bg-default {
  background-image: url("./assets/background.png");
}

.logo-style {
  width: 15.625rem;
}

hr {
  margin: 0;
  height: 0.03125rem;
  background-color: #2a48df;
  border: none;
  border-top: none;
}

.custom-h3 {
  margin: 0.625rem;
  color: #2a48df;
}
